body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

header > h1 {
    margin: 0;
    padding: 1rem 0;
}

main {
    min-height: calc(100vh - 71px);
}

#board {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

#board > div {
    margin: 0 0.5rem;
}

.round {
    border-radius: 6px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    max-height: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    max-width: 1000px;
    max-height: 1000px;
}

i.hidden {
    line-height: 0 !important;
    font-size: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Add buttons */
.add-new {
    display: block;
    background-color: #80808099;
    font-size: 0;
}

.add-new > form {
    display: inline-block;
    border: none;
    transition: all 0.2s;
}

.add-new > form > input {
    margin: 1rem;
}

.add-new > i {
    font-size: 22px;
    padding: 1rem;
}

.add-new > i:hover {
    cursor: pointer;
}

/* Lane buttons */
.lane-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0.25rem 1rem;
}

.lane-btns i:hover {
    cursor: pointer;
}

.lane-btns > div > i {
    margin: 0 0.5rem;
}

.lane {
    background-color: lightgrey;
    width: 225px;
}

.lane-head > p {
    margin: 0.25rem 1rem 0.5rem;
}

.card {
    background-color: grey;
}

footer {
    width: 100%;
    height: 100px;
    background: paleturquoise;
}
